<div class="document">
<div class="document-header">
    <button type="button" id="save-document-btn" class="btn btn-primary ladda-button" {{action "save"}} {{bind-attr disabled="isNotDirty"}} style="float:right" data-style="zoom-in" data-spinner-size="25">
        <span class="ladda-label"><i class="fa fa-floppy-o"></i></span>
        <span class="ladda-spinner" data-size="xs"></span>
        <div class="ladda-progress" style="width: 0px;"></div>
    </button>
    <h3 class="panel-title">{{name}}</h3>
    <small class="text-muted">{{prettifyDate createdAt}}</small>
</div>

{{view Ember.TextArea valueBinding="body" class="document-body" data-provide="markdown"}}

<div class="document-footer">
    <a href="#" style="float:right" class="delete-doc">Delete</a>
    <small class="text-muted">Updated at: {{prettifyDate updatedAt}}</small>
</div>

<h4>Comments</h4>

{{#if comments.length}}
<ul class="list-group">
    {{#each comments}}
    {{!-- {{#unless isDirty}} --}}
    <li class="list-group-item">
        <a href="#" class="comment-delete-btn" {{action "removeComment" id}}>×</a>
        <div>{{body}}</div>
        <div><small class="text-muted">{{authorName}} at {{prettifyDate createdAt}}</small></div>
    </li>
    {{!-- {{/unless}} --}}
    {{/each}}
</ul>
{{/if}}

{{outlet}}
</div>
