<div class="container" id="login">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <form role="form" {{action "login" on="submit"}}>
                <div class="form-group">
                    <label {{bind-attr for="view.username.elementId"}}>Username</label>
                    {{view Ember.TextField value=username  viewName="username" class="form-control"}}
                </div>

                <div class="form-group">
                    <label {{bind-attr for="view.password.elementId"}}>Password</label>
                    {{view Ember.TextField value=password viewName="password" type="password" class="form-control"}}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary ladda-button" {{bind-attr disabled="isProcessing"}} id="login-btn" data-style="expand-left" data-spinner-color="#f2f2f2" data-spinner-size="25">
                        <span class="ladda-label">Log in</span>
                        <span class="ladda-spinner" data-size="xs"></span>
                        <div class="ladda-progress" style="width: 0px;"></div>
                    </button>
                </div>

                {{#if loginFailed}}
                    <div class="alert alert-danger">Invalid username or password.</div>
                {{/if}}
            </form>
        </div>
    </div>
</div>
